<% if notice%>
    <div class="alert alert-warning" role="alert">
    <%= notice %>
    </div>
<% end %>
<div class="container">

</div>

<div class=" container card">
  <div class="card-header">
    <h4>New post</h4>
  </div>
  <div class="card-body">
    <%= render 'form', post: @post %>
    <%= link_to 'Back', posts_path %>
  </div>
</div>